$var1: #ffffff
$var2: #2c40c8
$var3: #000000
$var4: #424242
$var5: #08bab1
$var6: #109836
$var7: #225fd1
$var8: #00dab9

font-face
font-family: Futura-Heavy
src: url(fonts

font-face
font-family: futura-light
src: url(fonts

font-face
font-family: futura-medium
src: url(fonts

body
margin: 0

.main-head
background-image: url("
background-repeat: no-repeat
background-position: center
min-height: 730px

.container
max-width: 1170px
width: 100%
margin: 0 auto

.logo
padding: 50px 0
img
height: 110px


.head-text
max-width: 740px
width: 100%
margin-top: 65px
h1
font-size: 46px
color: @var1
margin: 0
font-family: Futura-Heavy

p
font-size: 23px
color: @var1
font-family: futura-light
margin-bottom: 50px


.head-text a, .footer-content a
background: @var1
font-size: 18px
color: @var2
padding: 20px 40px
border-radius: 35px
text-decoration: none
font-family: futura-light
font-weight: 600

.content.cont-1
padding-top: 50px

.content
padding: 0 0 50px 0
h2
font-size: 46px
color: @var3
text-align: center
font-family: Futura-Heavy
margin-bottom: 90px


.footer
background-image: url("
background-repeat: no-repeat
background-position: bottom center
min-height: 654px
&-container
text-align: center
display: flex
flex-flow: column
height: 100%
align-items: center
justify-content: space-between
min-height: 654px

&-content
text-align: center
padding-top: 200px
h2
font-size: 46px
color: @var1
font-family: Futura-Heavy
margin-bottom: 50px


&-text
display: flex
justify-content: space-between
flex-wrap: wrap
width: 100%
p
color: @var1
font-size: 18px
font-family: futura-light



.section-one
display: flex
justify-content: space-between
flex-wrap: wrap

.so-1, .so-2, .so-3
width: 350px
display: flex
justify-content: center
flex-flow: column
align-items: center
text-align: center
img
width: 180px

&-in p
color: @var4
font-family: futura-light
font-size: 17px

&-in
padding: 18px 34px
margin-top: 60px
border-radius: 5px
min-height: 178px
position: relative

p span
font-family: Futura-Heavy
font-size: 23px


.so-1-in
border: 2px solid @var5
&::before
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var5
right: 160px
top: -20px

&::after
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var1
right: 160px
top: -17px


.so-2-in
border: 2px solid @var6
&::before
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var6
right: 160px
top: -20px

&::after
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var1
right: 160px
top: -17px


.so-3-in
border: 2px solid @var7
&::before
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var7
right: 160px
top: -20px

&::after
content: ""
width: 0px
height: 0px
position: absolute
border-left: 10px solid transparent
border-right: 10px solid transparent
border-top: 10px solid transparent
border-bottom: 10px solid @var1
right: 160px
top: -17px


.so-1 p span
color: @var5

.so-2 p span
color: @var6

.so-3 p span
color: @var7

.section-two
background-image: url("
background-repeat: no-repeat
background-position: center
padding: 150px 0
display: flex
flex-flow: column
align-items: center
h2
color: @var1
text-align: center
margin-bottom: 25px
font-size: 46px
margin-top: 0
font-family: Futura-Heavy

form
display: flex
flex-direction: column
align-items: center
input
font-family: Futura-Heavy
&:focus
outline: none

&[type=text]
border-bottom: 2px solid @var8
border-top: none
border-left: none
border-right: none
background-color: transparent
padding: 20px 90px
margin-bottom: 50px
color: @var1
font-size: 22px
&::placeholder
font-family: Futura-Heavy
color: @var1
font-size: 22px
opacity: 0.6


&[type=button]
padding: 23px 100px
background: @var8
color: @var1
border-radius: 60px
font-size: 22px
border: 0
&:hover
cursor: pointer





.section-three
display: flex
justify-content: space-around
flex-wrap: wrap
margin-bottom: 100px

.st-in
display: flex
flex-flow: column
align-items: center
img
width: 170px
margin-bottom: 30px

p
font-family: Futura-Heavy
font-size: 23px
margin: 0
span
color: @var4
font-family: futura-light
font-size: 17px
font-weight: 600



.inner-form
margin-top: 30px
span
color: @var1
text-align: center
margin-bottom: 25px
font-size: 20px
margin-top: 0
font-family: Futura-Heavy


